<!DOCTYPE html>
<html>
    <head>
        <title>AFONSO É FIXE</title>
    </head>
    <body>
        <header>
            <h1><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Test Website (CLICK)</a></h1>
        </header>

        <article>
            <h2><a href="https://www.youtube.com/watch?v=BbeeuzU5Qc8">My first post</a></h2>
            <p>This is a test post, with test values.</p>
            <time>published: 14.06.2014, 12:14</time>
        </article>

        <article>
            <h2><a href="https://www.youtube.com/watch?v=LC8iPoZCEok">My second post</a></h2>
            <p>This is another test post, with more test values.</p>
            <time>published: 14.06.2014, 12:14</time>
        </article>
    </body>
</html>